In [135]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
%matplotlib inline

In [225]:
from sklearn.datasets import load_digits

digit = load_digits()

In [230]:
df = pd.DataFrame(digit.data,columns=digit.feature_names)
df["target"] = digit.target
df.sample(10)

,pixel_0_0,pixel_0_1,pixel_0_2,pixel_0_3,pixel_0_4,pixel_0_5,pixel_0_6,pixel_0_7,pixel_1_0,pixel_1_1,...,pixel_6_7,pixel_7_0,pixel_7_1,pixel_7_2,pixel_7_3,pixel_7_4,pixel_7_5,pixel_7_6,pixel_7_7,target
1325,0.0,0.0,7.0,10.0,16.0,9.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,9.0,16.0,14.0,0.0,0.0,0.0,8
1756,0.0,0.0,10.0,15.0,15.0,11.0,4.0,0.0,0.0,1.0,...,0.0,0.0,0.0,6.0,11.0,16.0,8.0,0.0,0.0,3
1305,0.0,0.0,4.0,16.0,14.0,3.0,0.0,0.0,2.0,14.0,...,0.0,0.0,0.0,4.0,15.0,16.0,3.0,0.0,0.0,8
589,0.0,0.0,6.0,11.0,13.0,6.0,0.0,0.0,0.0,7.0,...,0.0,0.0,0.0,6.0,14.0,15.0,12.0,0.0,0.0,9
456,0.0,0.0,0.0,2.0,16.0,15.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,13.0,16.0,7.0,0.0,1
1212,0.0,0.0,6.0,14.0,13.0,1.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,5.0,16.0,6.0,0.0,0.0,0.0,0
735,0.0,0.0,6.0,9.0,11.0,9.0,0.0,0.0,0.0,13.0,...,0.0,0.0,0.0,3.0,13.0,12.0,7.0,1.0,0.0,3
146,0.0,0.0,0.0,6.0,14.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9.0,15.0,14.0,6.0,0.0,6
1286,0.0,0.0,13.0,16.0,9.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,11.0,16.0,16.0,3.0,0.0,0.0,8
461,0.0,0.0,10.0,13.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,8.0,14.0,8.0,11.0,14.0,1.0,2

In [232]:
X = df.drop("target",axis=1)
y = df["target"]

In [234]:
y.value_counts()

target
3    183
1    182
5    182
4    181
6    181
9    180
7    179
0    178
2    177
8    174
Name: count, dtype: int64

In [237]:
len(y)

1797

In [235]:
from imblearn.over_sampling import SMOTE

smote = SMOTE()
X_smote ,y_smote = smote.fit_resample(X,y)

In [236]:
y_smote.value_counts()

target
0    183
1    183
2    183
3    183
4    183
5    183
6    183
7    183
8    183
9    183
Name: count, dtype: int64

In [240]:
from sklearn.model_selection import train_test_split

X_train , X_test , y_train , y_test = train_test_split(X_smote,y_smote,test_size=0.2,random_state=42,stratify=y_smote)

In [241]:
y_train.value_counts()

target
1    147
5    147
0    147
8    147
3    146
7    146
2    146
9    146
6    146
4    146
Name: count, dtype: int64

In [242]:
y_test.value_counts()

target
4    37
3    37
9    37
6    37
2    37
7    37
8    36
5    36
1    36
0    36
Name: count, dtype: int64

In [255]:
from sklearn.svm import SVC

model = SVC(C=100)
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9890710382513661

In [256]:
y_pred = model.predict(X_test)

In [257]:
y_pred[:5]

array([4, 8, 3, 5, 9])

In [258]:
y_test.head(5)

41      4
284     8
561     3
201     5
1446    9
Name: target, dtype: int64